name: Docker Build and Push to GHCR
on:
  push:
    branches: [ "main" ]
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name:  Checkout repository
      uses: actions/checkout@v4
    # 1. 砖 砖: 专转 砖转 住 (env) 专砖 砖 -build
    - name:  Build and push Docker image
      uses: docker/build-push-action@v5
      # 2. 专住驻专爪 爪注转  (转 YAML)
      env:
        #  专住驻专爪 注转!
        IMAGE_TAG: ghcr.io/${{ github.repository | lowser }}:latest
      with:
        context: .
        push: true
        # 3. 砖砖 砖转 住 砖
        tags: ${{ env.IMAGE_TAG }} 
        # tags: ${{ steps.meta.outputs.IMAGE_ID }}
